body {
    background: radial-gradient(ellipse at center, #1b2749 0%, #090a0f 80%);
    height: 100vh;
    overflow: hidden;
}

.sky {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    -webkit-clip-path: circle(200px at center);
    clip-path: circle(200px at center);
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: #fff;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    -webkit-animation: bling 1000ms linear infinite;
    animation: bling 1000ms linear infinite;
}

.star:nth-child(1) {
    top: calc(50% - -80px);
    left: calc(50% - -161px);
    -webkit-animation-delay: -4268ms;
    animation-delay: -4268ms;
}

.star:nth-child(2) {
    top: calc(50% - -36px);
    left: calc(50% - 167px);
    -webkit-animation-delay: -1217ms;
    animation-delay: -1217ms;
}

.star:nth-child(3) {
    top: calc(50% - 194px);
    left: calc(50% - 155px);
    -webkit-animation-delay: -4860ms;
    animation-delay: -4860ms;
}

.star:nth-child(4) {
    top: calc(50% - 41px);
    left: calc(50% - 62px);
    -webkit-animation-delay: -2889ms;
    animation-delay: -2889ms;
}

.star:nth-child(5) {
    top: calc(50% - 133px);
    left: calc(50% - 96px);
    -webkit-animation-delay: -4371ms;
    animation-delay: -4371ms;
}

.star:nth-child(6) {
    top: calc(50% - -32px);
    left: calc(50% - -80px);
    -webkit-animation-delay: -4209ms;
    animation-delay: -4209ms;
}

.star:nth-child(7) {
    top: calc(50% - -23px);
    left: calc(50% - -157px);
    -webkit-animation-delay: -656ms;
    animation-delay: -656ms;
}

.star:nth-child(8) {
    top: calc(50% - -115px);
    left: calc(50% - 198px);
    -webkit-animation-delay: -3377ms;
    animation-delay: -3377ms;
}

.star:nth-child(9) {
    top: calc(50% - -148px);
    left: calc(50% - -114px);
    -webkit-animation-delay: -10ms;
    animation-delay: -10ms;
}

.star:nth-child(10) {
    top: calc(50% - 19px);
    left: calc(50% - -59px);
    -webkit-animation-delay: -3097ms;
    animation-delay: -3097ms;
}

.star:nth-child(11) {
    top: calc(50% - -120px);
    left: calc(50% - 198px);
    -webkit-animation-delay: -5037ms;
    animation-delay: -5037ms;
}

.star:nth-child(12) {
    top: calc(50% - -66px);
    left: calc(50% - -5px);
    -webkit-animation-delay: -654ms;
    animation-delay: -654ms;
}

.star:nth-child(13) {
    top: calc(50% - -176px);
    left: calc(50% - 96px);
    -webkit-animation-delay: -3302ms;
    animation-delay: -3302ms;
}

.star:nth-child(14) {
    top: calc(50% - -18px);
    left: calc(50% - -82px);
    -webkit-animation-delay: -1586ms;
    animation-delay: -1586ms;
}

.star:nth-child(15) {
    top: calc(50% - 39px);
    left: calc(50% - 28px);
    -webkit-animation-delay: -4494ms;
    animation-delay: -4494ms;
}

.star:nth-child(16) {
    top: calc(50% - -61px);
    left: calc(50% - 169px);
    -webkit-animation-delay: -3362ms;
    animation-delay: -3362ms;
}

.star:nth-child(17) {
    top: calc(50% - 94px);
    left: calc(50% - 186px);
    -webkit-animation-delay: -1559ms;
    animation-delay: -1559ms;
}

.star:nth-child(18) {
    top: calc(50% - -192px);
    left: calc(50% - 126px);
    -webkit-animation-delay: -871ms;
    animation-delay: -871ms;
}

.star:nth-child(19) {
    top: calc(50% - -150px);
    left: calc(50% - 83px);
    -webkit-animation-delay: -3590ms;
    animation-delay: -3590ms;
}

.star:nth-child(20) {
    top: calc(50% - 149px);
    left: calc(50% - 198px);
    -webkit-animation-delay: -147ms;
    animation-delay: -147ms;
}

.star:nth-child(21) {
    top: calc(50% - 59px);
    left: calc(50% - 171px);
    -webkit-animation-delay: -2236ms;
    animation-delay: -2236ms;
}

.star:nth-child(22) {
    top: calc(50% - -50px);
    left: calc(50% - -194px);
    -webkit-animation-delay: -4592ms;
    animation-delay: -4592ms;
}

.star:nth-child(23) {
    top: calc(50% - -80px);
    left: calc(50% - -43px);
    -webkit-animation-delay: -4132ms;
    animation-delay: -4132ms;
}

.star:nth-child(24) {
    top: calc(50% - 188px);
    left: calc(50% - 65px);
    -webkit-animation-delay: -5635ms;
    animation-delay: -5635ms;
}

.star:nth-child(25) {
    top: calc(50% - 83px);
    left: calc(50% - -124px);
    -webkit-animation-delay: -3968ms;
    animation-delay: -3968ms;
}

.star:nth-child(26) {
    top: calc(50% - -162px);
    left: calc(50% - -170px);
    -webkit-animation-delay: -4807ms;
    animation-delay: -4807ms;
}

.star:nth-child(27) {
    top: calc(50% - 38px);
    left: calc(50% - -110px);
    -webkit-animation-delay: -4316ms;
    animation-delay: -4316ms;
}

.star:nth-child(28) {
    top: calc(50% - 47px);
    left: calc(50% - 171px);
    -webkit-animation-delay: -4504ms;
    animation-delay: -4504ms;
}

.star:nth-child(29) {
    top: calc(50% - -110px);
    left: calc(50% - -45px);
    -webkit-animation-delay: -255ms;
    animation-delay: -255ms;
}

.star:nth-child(30) {
    top: calc(50% - 138px);
    left: calc(50% - 167px);
    -webkit-animation-delay: -1255ms;
    animation-delay: -1255ms;
}

.star:nth-child(31) {
    top: calc(50% - 19px);
    left: calc(50% - -195px);
    -webkit-animation-delay: -5980ms;
    animation-delay: -5980ms;
}

.star:nth-child(32) {
    top: calc(50% - 187px);
    left: calc(50% - 110px);
    -webkit-animation-delay: -798ms;
    animation-delay: -798ms;
}

.star:nth-child(33) {
    top: calc(50% - -162px);
    left: calc(50% - 40px);
    -webkit-animation-delay: -5668ms;
    animation-delay: -5668ms;
}

.star:nth-child(34) {
    top: calc(50% - 63px);
    left: calc(50% - -78px);
    -webkit-animation-delay: -3128ms;
    animation-delay: -3128ms;
}

.star:nth-child(35) {
    top: calc(50% - 115px);
    left: calc(50% - -83px);
    -webkit-animation-delay: -1064ms;
    animation-delay: -1064ms;
}

.star:nth-child(36) {
    top: calc(50% - 34px);
    left: calc(50% - -86px);
    -webkit-animation-delay: -4775ms;
    animation-delay: -4775ms;
}

.star:nth-child(37) {
    top: calc(50% - -72px);
    left: calc(50% - -198px);
    -webkit-animation-delay: -648ms;
    animation-delay: -648ms;
}

.star:nth-child(38) {
    top: calc(50% - 157px);
    left: calc(50% - 185px);
    -webkit-animation-delay: -5858ms;
    animation-delay: -5858ms;
}

.star:nth-child(39) {
    top: calc(50% - -60px);
    left: calc(50% - -104px);
    -webkit-animation-delay: -1817ms;
    animation-delay: -1817ms;
}

.star:nth-child(40) {
    top: calc(50% - -9px);
    left: calc(50% - -170px);
    -webkit-animation-delay: -2711ms;
    animation-delay: -2711ms;
}

.star:nth-child(41) {
    top: calc(50% - 177px);
    left: calc(50% - -23px);
    -webkit-animation-delay: -5628ms;
    animation-delay: -5628ms;
}

.star:nth-child(42) {
    top: calc(50% - 135px);
    left: calc(50% - -162px);
    -webkit-animation-delay: -2398ms;
    animation-delay: -2398ms;
}

.star:nth-child(43) {
    top: calc(50% - -94px);
    left: calc(50% - -118px);
    -webkit-animation-delay: -5377ms;
    animation-delay: -5377ms;
}

.star:nth-child(44) {
    top: calc(50% - 31px);
    left: calc(50% - -116px);
    -webkit-animation-delay: -2978ms;
    animation-delay: -2978ms;
}

.star:nth-child(45) {
    top: calc(50% - 125px);
    left: calc(50% - 84px);
    -webkit-animation-delay: -958ms;
    animation-delay: -958ms;
}

.star:nth-child(46) {
    top: calc(50% - 12px);
    left: calc(50% - 96px);
    -webkit-animation-delay: -1447ms;
    animation-delay: -1447ms;
}

.star:nth-child(47) {
    top: calc(50% - 91px);
    left: calc(50% - -149px);
    -webkit-animation-delay: -871ms;
    animation-delay: -871ms;
}

.star:nth-child(48) {
    top: calc(50% - -175px);
    left: calc(50% - -197px);
    -webkit-animation-delay: -1362ms;
    animation-delay: -1362ms;
}

.star:nth-child(49) {
    top: calc(50% - 71px);
    left: calc(50% - -54px);
    -webkit-animation-delay: -1060ms;
    animation-delay: -1060ms;
}

.star:nth-child(50) {
    top: calc(50% - -178px);
    left: calc(50% - -49px);
    -webkit-animation-delay: -812ms;
    animation-delay: -812ms;
}

.star:nth-child(51) {
    top: calc(50% - -72px);
    left: calc(50% - -169px);
    -webkit-animation-delay: -931ms;
    animation-delay: -931ms;
}

.star:nth-child(52) {
    top: calc(50% - -180px);
    left: calc(50% - 147px);
    -webkit-animation-delay: -1007ms;
    animation-delay: -1007ms;
}

.star:nth-child(53) {
    top: calc(50% - -158px);
    left: calc(50% - 35px);
    -webkit-animation-delay: -1405ms;
    animation-delay: -1405ms;
}

.star:nth-child(54) {
    top: calc(50% - 156px);
    left: calc(50% - 16px);
    -webkit-animation-delay: -83ms;
    animation-delay: -83ms;
}

.star:nth-child(55) {
    top: calc(50% - 189px);
    left: calc(50% - 39px);
    -webkit-animation-delay: -4453ms;
    animation-delay: -4453ms;
}

.star:nth-child(56) {
    top: calc(50% - 170px);
    left: calc(50% - 76px);
    -webkit-animation-delay: -5861ms;
    animation-delay: -5861ms;
}

.star:nth-child(57) {
    top: calc(50% - -74px);
    left: calc(50% - -157px);
    -webkit-animation-delay: -4149ms;
    animation-delay: -4149ms;
}

.star:nth-child(58) {
    top: calc(50% - 193px);
    left: calc(50% - 40px);
    -webkit-animation-delay: -172ms;
    animation-delay: -172ms;
}

.star:nth-child(59) {
    top: calc(50% - 175px);
    left: calc(50% - 71px);
    -webkit-animation-delay: -3134ms;
    animation-delay: -3134ms;
}

.star:nth-child(60) {
    top: calc(50% - -63px);
    left: calc(50% - -174px);
    -webkit-animation-delay: -522ms;
    animation-delay: -522ms;
}

.star:nth-child(61) {
    top: calc(50% - 92px);
    left: calc(50% - 187px);
    -webkit-animation-delay: -5639ms;
    animation-delay: -5639ms;
}

.star:nth-child(62) {
    top: calc(50% - -79px);
    left: calc(50% - 178px);
    -webkit-animation-delay: -516ms;
    animation-delay: -516ms;
}

.star:nth-child(63) {
    top: calc(50% - -36px);
    left: calc(50% - 62px);
    -webkit-animation-delay: -36ms;
    animation-delay: -36ms;
}

.star:nth-child(64) {
    top: calc(50% - 96px);
    left: calc(50% - -184px);
    -webkit-animation-delay: -508ms;
    animation-delay: -508ms;
}

.star:nth-child(65) {
    top: calc(50% - -56px);
    left: calc(50% - 146px);
    -webkit-animation-delay: -2308ms;
    animation-delay: -2308ms;
}

.star:nth-child(66) {
    top: calc(50% - 19px);
    left: calc(50% - -172px);
    -webkit-animation-delay: -3557ms;
    animation-delay: -3557ms;
}

.star:nth-child(67) {
    top: calc(50% - 22px);
    left: calc(50% - 101px);
    -webkit-animation-delay: -311ms;
    animation-delay: -311ms;
}

.star:nth-child(68) {
    top: calc(50% - 183px);
    left: calc(50% - 59px);
    -webkit-animation-delay: -2070ms;
    animation-delay: -2070ms;
}

.star:nth-child(69) {
    top: calc(50% - 162px);
    left: calc(50% - -198px);
    -webkit-animation-delay: -1737ms;
    animation-delay: -1737ms;
}

.star:nth-child(70) {
    top: calc(50% - 134px);
    left: calc(50% - 14px);
    -webkit-animation-delay: -4609ms;
    animation-delay: -4609ms;
}

.star:nth-child(71) {
    top: calc(50% - -136px);
    left: calc(50% - -15px);
    -webkit-animation-delay: -1277ms;
    animation-delay: -1277ms;
}

.star:nth-child(72) {
    top: calc(50% - -38px);
    left: calc(50% - 156px);
    -webkit-animation-delay: -875ms;
    animation-delay: -875ms;
}

.star:nth-child(73) {
    top: calc(50% - -38px);
    left: calc(50% - -43px);
    -webkit-animation-delay: -4353ms;
    animation-delay: -4353ms;
}

.star:nth-child(74) {
    top: calc(50% - 190px);
    left: calc(50% - 8px);
    -webkit-animation-delay: -1403ms;
    animation-delay: -1403ms;
}

.star:nth-child(75) {
    top: calc(50% - 79px);
    left: calc(50% - 81px);
    -webkit-animation-delay: -4161ms;
    animation-delay: -4161ms;
}

.star:nth-child(76) {
    top: calc(50% - 152px);
    left: calc(50% - 70px);
    -webkit-animation-delay: -3686ms;
    animation-delay: -3686ms;
}

.star:nth-child(77) {
    top: calc(50% - 142px);
    left: calc(50% - 31px);
    -webkit-animation-delay: -688ms;
    animation-delay: -688ms;
}

.star:nth-child(78) {
    top: calc(50% - -114px);
    left: calc(50% - -134px);
    -webkit-animation-delay: -3480ms;
    animation-delay: -3480ms;
}

.star:nth-child(79) {
    top: calc(50% - 105px);
    left: calc(50% - -178px);
    -webkit-animation-delay: -5972ms;
    animation-delay: -5972ms;
}

.star:nth-child(80) {
    top: calc(50% - 31px);
    left: calc(50% - -53px);
    -webkit-animation-delay: -1851ms;
    animation-delay: -1851ms;
}

.star:nth-child(81) {
    top: calc(50% - -47px);
    left: calc(50% - -142px);
    -webkit-animation-delay: -95ms;
    animation-delay: -95ms;
}

.star:nth-child(82) {
    top: calc(50% - -60px);
    left: calc(50% - 16px);
    -webkit-animation-delay: -2421ms;
    animation-delay: -2421ms;
}

.star:nth-child(83) {
    top: calc(50% - 120px);
    left: calc(50% - 128px);
    -webkit-animation-delay: -2314ms;
    animation-delay: -2314ms;
}

.star:nth-child(84) {
    top: calc(50% - -12px);
    left: calc(50% - -119px);
    -webkit-animation-delay: -2635ms;
    animation-delay: -2635ms;
}

.star:nth-child(85) {
    top: calc(50% - 175px);
    left: calc(50% - -33px);
    -webkit-animation-delay: -1736ms;
    animation-delay: -1736ms;
}

.star:nth-child(86) {
    top: calc(50% - 41px);
    left: calc(50% - 183px);
    -webkit-animation-delay: -4322ms;
    animation-delay: -4322ms;
}

.star:nth-child(87) {
    top: calc(50% - 34px);
    left: calc(50% - 93px);
    -webkit-animation-delay: -2604ms;
    animation-delay: -2604ms;
}

.star:nth-child(88) {
    top: calc(50% - 25px);
    left: calc(50% - 33px);
    -webkit-animation-delay: -2258ms;
    animation-delay: -2258ms;
}

.star:nth-child(89) {
    top: calc(50% - -17px);
    left: calc(50% - 136px);
    -webkit-animation-delay: -5867ms;
    animation-delay: -5867ms;
}

.star:nth-child(90) {
    top: calc(50% - 20px);
    left: calc(50% - 149px);
    -webkit-animation-delay: -605ms;
    animation-delay: -605ms;
}

.star:nth-child(91) {
    top: calc(50% - 51px);
    left: calc(50% - -111px);
    -webkit-animation-delay: -2591ms;
    animation-delay: -2591ms;
}

.star:nth-child(92) {
    top: calc(50% - -125px);
    left: calc(50% - -34px);
    -webkit-animation-delay: -3135ms;
    animation-delay: -3135ms;
}

.star:nth-child(93) {
    top: calc(50% - 40px);
    left: calc(50% - 82px);
    -webkit-animation-delay: -2214ms;
    animation-delay: -2214ms;
}

.star:nth-child(94) {
    top: calc(50% - -110px);
    left: calc(50% - -127px);
    -webkit-animation-delay: -3738ms;
    animation-delay: -3738ms;
}

.star:nth-child(95) {
    top: calc(50% - 160px);
    left: calc(50% - -170px);
    -webkit-animation-delay: -1876ms;
    animation-delay: -1876ms;
}

.star:nth-child(96) {
    top: calc(50% - 69px);
    left: calc(50% - -43px);
    -webkit-animation-delay: -2602ms;
    animation-delay: -2602ms;
}

.star:nth-child(97) {
    top: calc(50% - 59px);
    left: calc(50% - 150px);
    -webkit-animation-delay: -2261ms;
    animation-delay: -2261ms;
}

.star:nth-child(98) {
    top: calc(50% - 197px);
    left: calc(50% - -75px);
    -webkit-animation-delay: -4401ms;
    animation-delay: -4401ms;
}

.star:nth-child(99) {
    top: calc(50% - -58px);
    left: calc(50% - 191px);
    -webkit-animation-delay: -2761ms;
    animation-delay: -2761ms;
}

.star:nth-child(100) {
    top: calc(50% - -126px);
    left: calc(50% - -31px);
    -webkit-animation-delay: -5335ms;
    animation-delay: -5335ms;
}

.star:nth-child(101) {
    top: calc(50% - -99px);
    left: calc(50% - -76px);
    -webkit-animation-delay: -5309ms;
    animation-delay: -5309ms;
}

.star:nth-child(102) {
    top: calc(50% - 19px);
    left: calc(50% - -41px);
    -webkit-animation-delay: -3858ms;
    animation-delay: -3858ms;
}

.star:nth-child(103) {
    top: calc(50% - 44px);
    left: calc(50% - 17px);
    -webkit-animation-delay: -777ms;
    animation-delay: -777ms;
}

.star:nth-child(104) {
    top: calc(50% - -49px);
    left: calc(50% - -127px);
    -webkit-animation-delay: -4454ms;
    animation-delay: -4454ms;
}

.star:nth-child(105) {
    top: calc(50% - -124px);
    left: calc(50% - 50px);
    -webkit-animation-delay: -2362ms;
    animation-delay: -2362ms;
}

.star:nth-child(106) {
    top: calc(50% - 73px);
    left: calc(50% - 191px);
    -webkit-animation-delay: -1410ms;
    animation-delay: -1410ms;
}

.star:nth-child(107) {
    top: calc(50% - 104px);
    left: calc(50% - -172px);
    -webkit-animation-delay: -3086ms;
    animation-delay: -3086ms;
}

.star:nth-child(108) {
    top: calc(50% - 38px);
    left: calc(50% - -111px);
    -webkit-animation-delay: -2179ms;
    animation-delay: -2179ms;
}

.star:nth-child(109) {
    top: calc(50% - 170px);
    left: calc(50% - 182px);
    -webkit-animation-delay: -2662ms;
    animation-delay: -2662ms;
}

.star:nth-child(110) {
    top: calc(50% - 164px);
    left: calc(50% - 82px);
    -webkit-animation-delay: -5479ms;
    animation-delay: -5479ms;
}

.star:nth-child(111) {
    top: calc(50% - -161px);
    left: calc(50% - 74px);
    -webkit-animation-delay: -4748ms;
    animation-delay: -4748ms;
}

.star:nth-child(112) {
    top: calc(50% - 176px);
    left: calc(50% - -199px);
    -webkit-animation-delay: -3537ms;
    animation-delay: -3537ms;
}

.star:nth-child(113) {
    top: calc(50% - -190px);
    left: calc(50% - 102px);
    -webkit-animation-delay: -2554ms;
    animation-delay: -2554ms;
}

.star:nth-child(114) {
    top: calc(50% - -13px);
    left: calc(50% - 140px);
    -webkit-animation-delay: -2209ms;
    animation-delay: -2209ms;
}

.star:nth-child(115) {
    top: calc(50% - -26px);
    left: calc(50% - 142px);
    -webkit-animation-delay: -4197ms;
    animation-delay: -4197ms;
}

.star:nth-child(116) {
    top: calc(50% - 170px);
    left: calc(50% - 59px);
    -webkit-animation-delay: -4605ms;
    animation-delay: -4605ms;
}

.star:nth-child(117) {
    top: calc(50% - -118px);
    left: calc(50% - 25px);
    -webkit-animation-delay: -3972ms;
    animation-delay: -3972ms;
}

.star:nth-child(118) {
    top: calc(50% - 48px);
    left: calc(50% - -8px);
    -webkit-animation-delay: -747ms;
    animation-delay: -747ms;
}

.star:nth-child(119) {
    top: calc(50% - 116px);
    left: calc(50% - 162px);
    -webkit-animation-delay: -2603ms;
    animation-delay: -2603ms;
}

.star:nth-child(120) {
    top: calc(50% - -88px);
    left: calc(50% - 41px);
    -webkit-animation-delay: -1770ms;
    animation-delay: -1770ms;
}

.star:nth-child(121) {
    top: calc(50% - 71px);
    left: calc(50% - 170px);
    -webkit-animation-delay: -4131ms;
    animation-delay: -4131ms;
}

.star:nth-child(122) {
    top: calc(50% - -173px);
    left: calc(50% - 143px);
    -webkit-animation-delay: -3587ms;
    animation-delay: -3587ms;
}

.star:nth-child(123) {
    top: calc(50% - 0px);
    left: calc(50% - 63px);
    -webkit-animation-delay: -2424ms;
    animation-delay: -2424ms;
}

.star:nth-child(124) {
    top: calc(50% - -169px);
    left: calc(50% - -20px);
    -webkit-animation-delay: -5370ms;
    animation-delay: -5370ms;
}

.star:nth-child(125) {
    top: calc(50% - -86px);
    left: calc(50% - 112px);
    -webkit-animation-delay: -4340ms;
    animation-delay: -4340ms;
}

.star:nth-child(126) {
    top: calc(50% - 168px);
    left: calc(50% - 200px);
    -webkit-animation-delay: -700ms;
    animation-delay: -700ms;
}

.star:nth-child(127) {
    top: calc(50% - -115px);
    left: calc(50% - -89px);
    -webkit-animation-delay: -5411ms;
    animation-delay: -5411ms;
}

.star:nth-child(128) {
    top: calc(50% - 35px);
    left: calc(50% - -94px);
    -webkit-animation-delay: -1799ms;
    animation-delay: -1799ms;
}

.star:nth-child(129) {
    top: calc(50% - -14px);
    left: calc(50% - 21px);
    -webkit-animation-delay: -2975ms;
    animation-delay: -2975ms;
}

.star:nth-child(130) {
    top: calc(50% - -133px);
    left: calc(50% - 98px);
    -webkit-animation-delay: -1827ms;
    animation-delay: -1827ms;
}

.star:nth-child(131) {
    top: calc(50% - -41px);
    left: calc(50% - 92px);
    -webkit-animation-delay: -4525ms;
    animation-delay: -4525ms;
}

.star:nth-child(132) {
    top: calc(50% - -13px);
    left: calc(50% - -2px);
    -webkit-animation-delay: -5234ms;
    animation-delay: -5234ms;
}

.star:nth-child(133) {
    top: calc(50% - -111px);
    left: calc(50% - 85px);
    -webkit-animation-delay: -5454ms;
    animation-delay: -5454ms;
}

.star:nth-child(134) {
    top: calc(50% - -123px);
    left: calc(50% - -77px);
    -webkit-animation-delay: -2680ms;
    animation-delay: -2680ms;
}

.star:nth-child(135) {
    top: calc(50% - -7px);
    left: calc(50% - 71px);
    -webkit-animation-delay: -3219ms;
    animation-delay: -3219ms;
}

.star:nth-child(136) {
    top: calc(50% - 136px);
    left: calc(50% - 75px);
    -webkit-animation-delay: -1006ms;
    animation-delay: -1006ms;
}

.star:nth-child(137) {
    top: calc(50% - 15px);
    left: calc(50% - 30px);
    -webkit-animation-delay: -2457ms;
    animation-delay: -2457ms;
}

.star:nth-child(138) {
    top: calc(50% - 194px);
    left: calc(50% - -96px);
    -webkit-animation-delay: -1085ms;
    animation-delay: -1085ms;
}

.star:nth-child(139) {
    top: calc(50% - 51px);
    left: calc(50% - 28px);
    -webkit-animation-delay: -2889ms;
    animation-delay: -2889ms;
}

.star:nth-child(140) {
    top: calc(50% - 84px);
    left: calc(50% - -91px);
    -webkit-animation-delay: -525ms;
    animation-delay: -525ms;
}

.star:nth-child(141) {
    top: calc(50% - -116px);
    left: calc(50% - 150px);
    -webkit-animation-delay: -5435ms;
    animation-delay: -5435ms;
}

.star:nth-child(142) {
    top: calc(50% - -197px);
    left: calc(50% - 112px);
    -webkit-animation-delay: -5368ms;
    animation-delay: -5368ms;
}

.star:nth-child(143) {
    top: calc(50% - 157px);
    left: calc(50% - 122px);
    -webkit-animation-delay: -2187ms;
    animation-delay: -2187ms;
}

.star:nth-child(144) {
    top: calc(50% - -142px);
    left: calc(50% - 147px);
    -webkit-animation-delay: -15ms;
    animation-delay: -15ms;
}

.star:nth-child(145) {
    top: calc(50% - 125px);
    left: calc(50% - 173px);
    -webkit-animation-delay: -10ms;
    animation-delay: -10ms;
}

.star:nth-child(146) {
    top: calc(50% - -84px);
    left: calc(50% - -23px);
    -webkit-animation-delay: -4112ms;
    animation-delay: -4112ms;
}

.star:nth-child(147) {
    top: calc(50% - -60px);
    left: calc(50% - -126px);
    -webkit-animation-delay: -1543ms;
    animation-delay: -1543ms;
}

.star:nth-child(148) {
    top: calc(50% - -125px);
    left: calc(50% - -116px);
    -webkit-animation-delay: -1206ms;
    animation-delay: -1206ms;
}

.star:nth-child(149) {
    top: calc(50% - -164px);
    left: calc(50% - 175px);
    -webkit-animation-delay: -2092ms;
    animation-delay: -2092ms;
}

.star:nth-child(150) {
    top: calc(50% - -34px);
    left: calc(50% - -92px);
    -webkit-animation-delay: -4796ms;
    animation-delay: -4796ms;
}

.star:nth-child(151) {
    top: calc(50% - -172px);
    left: calc(50% - 62px);
    -webkit-animation-delay: -3769ms;
    animation-delay: -3769ms;
}

.star:nth-child(152) {
    top: calc(50% - 105px);
    left: calc(50% - -137px);
    -webkit-animation-delay: -4374ms;
    animation-delay: -4374ms;
}

.star:nth-child(153) {
    top: calc(50% - 167px);
    left: calc(50% - -32px);
    -webkit-animation-delay: -1232ms;
    animation-delay: -1232ms;
}

.star:nth-child(154) {
    top: calc(50% - 162px);
    left: calc(50% - -79px);
    -webkit-animation-delay: -1429ms;
    animation-delay: -1429ms;
}

.star:nth-child(155) {
    top: calc(50% - -71px);
    left: calc(50% - -185px);
    -webkit-animation-delay: -3521ms;
    animation-delay: -3521ms;
}

.star:nth-child(156) {
    top: calc(50% - 75px);
    left: calc(50% - 5px);
    -webkit-animation-delay: -3926ms;
    animation-delay: -3926ms;
}

.star:nth-child(157) {
    top: calc(50% - 94px);
    left: calc(50% - 70px);
    -webkit-animation-delay: -194ms;
    animation-delay: -194ms;
}

.star:nth-child(158) {
    top: calc(50% - 49px);
    left: calc(50% - -110px);
    -webkit-animation-delay: -4227ms;
    animation-delay: -4227ms;
}

.star:nth-child(159) {
    top: calc(50% - -145px);
    left: calc(50% - 173px);
    -webkit-animation-delay: -1418ms;
    animation-delay: -1418ms;
}

.star:nth-child(160) {
    top: calc(50% - -153px);
    left: calc(50% - -163px);
    -webkit-animation-delay: -1674ms;
    animation-delay: -1674ms;
}

.star:nth-child(161) {
    top: calc(50% - -3px);
    left: calc(50% - 89px);
    -webkit-animation-delay: -1970ms;
    animation-delay: -1970ms;
}

.star:nth-child(162) {
    top: calc(50% - -156px);
    left: calc(50% - -76px);
    -webkit-animation-delay: -3268ms;
    animation-delay: -3268ms;
}

.star:nth-child(163) {
    top: calc(50% - 72px);
    left: calc(50% - -116px);
    -webkit-animation-delay: -1243ms;
    animation-delay: -1243ms;
}

.star:nth-child(164) {
    top: calc(50% - 85px);
    left: calc(50% - -98px);
    -webkit-animation-delay: -5604ms;
    animation-delay: -5604ms;
}

.star:nth-child(165) {
    top: calc(50% - 41px);
    left: calc(50% - -148px);
    -webkit-animation-delay: -3686ms;
    animation-delay: -3686ms;
}

.star:nth-child(166) {
    top: calc(50% - -164px);
    left: calc(50% - 49px);
    -webkit-animation-delay: -837ms;
    animation-delay: -837ms;
}

.star:nth-child(167) {
    top: calc(50% - 9px);
    left: calc(50% - -150px);
    -webkit-animation-delay: -5508ms;
    animation-delay: -5508ms;
}

.star:nth-child(168) {
    top: calc(50% - -81px);
    left: calc(50% - 115px);
    -webkit-animation-delay: -2304ms;
    animation-delay: -2304ms;
}

.star:nth-child(169) {
    top: calc(50% - -124px);
    left: calc(50% - 60px);
    -webkit-animation-delay: -1103ms;
    animation-delay: -1103ms;
}

.star:nth-child(170) {
    top: calc(50% - 33px);
    left: calc(50% - 47px);
    -webkit-animation-delay: -747ms;
    animation-delay: -747ms;
}

.star:nth-child(171) {
    top: calc(50% - -171px);
    left: calc(50% - -141px);
    -webkit-animation-delay: -303ms;
    animation-delay: -303ms;
}

.star:nth-child(172) {
    top: calc(50% - -23px);
    left: calc(50% - 171px);
    -webkit-animation-delay: -1748ms;
    animation-delay: -1748ms;
}

.star:nth-child(173) {
    top: calc(50% - 109px);
    left: calc(50% - -71px);
    -webkit-animation-delay: -917ms;
    animation-delay: -917ms;
}

.star:nth-child(174) {
    top: calc(50% - 194px);
    left: calc(50% - -24px);
    -webkit-animation-delay: -5728ms;
    animation-delay: -5728ms;
}

.star:nth-child(175) {
    top: calc(50% - -129px);
    left: calc(50% - -55px);
    -webkit-animation-delay: -4672ms;
    animation-delay: -4672ms;
}

.star:nth-child(176) {
    top: calc(50% - -22px);
    left: calc(50% - 108px);
    -webkit-animation-delay: -4374ms;
    animation-delay: -4374ms;
}

.star:nth-child(177) {
    top: calc(50% - -30px);
    left: calc(50% - 58px);
    -webkit-animation-delay: -3938ms;
    animation-delay: -3938ms;
}

.star:nth-child(178) {
    top: calc(50% - 44px);
    left: calc(50% - 15px);
    -webkit-animation-delay: -90ms;
    animation-delay: -90ms;
}

.star:nth-child(179) {
    top: calc(50% - 193px);
    left: calc(50% - -112px);
    -webkit-animation-delay: -4328ms;
    animation-delay: -4328ms;
}

.star:nth-child(180) {
    top: calc(50% - 42px);
    left: calc(50% - 8px);
    -webkit-animation-delay: -4012ms;
    animation-delay: -4012ms;
}

.star:nth-child(181) {
    top: calc(50% - 139px);
    left: calc(50% - 100px);
    -webkit-animation-delay: -2331ms;
    animation-delay: -2331ms;
}

.star:nth-child(182) {
    top: calc(50% - -15px);
    left: calc(50% - 128px);
    -webkit-animation-delay: -2070ms;
    animation-delay: -2070ms;
}

.star:nth-child(183) {
    top: calc(50% - -14px);
    left: calc(50% - 154px);
    -webkit-animation-delay: -2394ms;
    animation-delay: -2394ms;
}

.star:nth-child(184) {
    top: calc(50% - -64px);
    left: calc(50% - 28px);
    -webkit-animation-delay: -1143ms;
    animation-delay: -1143ms;
}

.star:nth-child(185) {
    top: calc(50% - -164px);
    left: calc(50% - -122px);
    -webkit-animation-delay: -2513ms;
    animation-delay: -2513ms;
}

.star:nth-child(186) {
    top: calc(50% - 68px);
    left: calc(50% - 39px);
    -webkit-animation-delay: -1453ms;
    animation-delay: -1453ms;
}

.star:nth-child(187) {
    top: calc(50% - 17px);
    left: calc(50% - -173px);
    -webkit-animation-delay: -5800ms;
    animation-delay: -5800ms;
}

.star:nth-child(188) {
    top: calc(50% - -111px);
    left: calc(50% - -67px);
    -webkit-animation-delay: -2810ms;
    animation-delay: -2810ms;
}

.star:nth-child(189) {
    top: calc(50% - -11px);
    left: calc(50% - -74px);
    -webkit-animation-delay: -5704ms;
    animation-delay: -5704ms;
}

.star:nth-child(190) {
    top: calc(50% - 161px);
    left: calc(50% - -118px);
    -webkit-animation-delay: -4942ms;
    animation-delay: -4942ms;
}

.star:nth-child(191) {
    top: calc(50% - 56px);
    left: calc(50% - -158px);
    -webkit-animation-delay: -1226ms;
    animation-delay: -1226ms;
}

.star:nth-child(192) {
    top: calc(50% - 194px);
    left: calc(50% - 137px);
    -webkit-animation-delay: -2070ms;
    animation-delay: -2070ms;
}

.star:nth-child(193) {
    top: calc(50% - -1px);
    left: calc(50% - 112px);
    -webkit-animation-delay: -1092ms;
    animation-delay: -1092ms;
}

.star:nth-child(194) {
    top: calc(50% - 154px);
    left: calc(50% - -64px);
    -webkit-animation-delay: -2929ms;
    animation-delay: -2929ms;
}

.star:nth-child(195) {
    top: calc(50% - -135px);
    left: calc(50% - 76px);
    -webkit-animation-delay: -5785ms;
    animation-delay: -5785ms;
}

.star:nth-child(196) {
    top: calc(50% - 2px);
    left: calc(50% - 12px);
    -webkit-animation-delay: -1372ms;
    animation-delay: -1372ms;
}

.star:nth-child(197) {
    top: calc(50% - -61px);
    left: calc(50% - 82px);
    -webkit-animation-delay: -3589ms;
    animation-delay: -3589ms;
}

.star:nth-child(198) {
    top: calc(50% - 193px);
    left: calc(50% - -155px);
    -webkit-animation-delay: -495ms;
    animation-delay: -495ms;
}

.star:nth-child(199) {
    top: calc(50% - 130px);
    left: calc(50% - 113px);
    -webkit-animation-delay: -1870ms;
    animation-delay: -1870ms;
}

.star:nth-child(200) {
    top: calc(50% - -150px);
    left: calc(50% - -196px);
    -webkit-animation-delay: -3587ms;
    animation-delay: -3587ms;
}

@-webkit-keyframes bling {
    0% {
        -webkit-transform: scale(0) rotateZ(45deg) translate(-300px);
        transform: scale(0) rotateZ(45deg) translate(-300px);
        background: #ff00ff;
    }

    50% {
        -webkit-transform: scale(1) rotateZ(45deg) translate(0);
        transform: scale(1) rotateZ(45deg) translate(0);
        background: #ffffff;
    }

    100% {
        -webkit-transform: scale(0) rotateZ(45deg) translate(300px);
        transform: scale(0) rotateZ(45deg) translate(300px);
        background: #0000ff;
    }
}

@keyframes bling {
    0% {
        -webkit-transform: scale(0) rotateZ(45deg) translate(-300px);
        transform: scale(0) rotateZ(45deg) translate(-300px);
        background: #ff00ff;
    }

    50% {
        -webkit-transform: scale(1) rotateZ(45deg) translate(0);
        transform: scale(1) rotateZ(45deg) translate(0);
        background: #ffffff;
    }

    100% {
        -webkit-transform: scale(0) rotateZ(45deg) translate(300px);
        transform: scale(0) rotateZ(45deg) translate(300px);
        background: #0000ff;
    }
}
